@eval transitionTime com.nanukreader.client.bookviewer.AccordionLayoutManager.getTransitionTime()+"ms";

.contentViewport {
	perspective: 2000px;
}

.terminal0Expand {
}

.terminal1Expand {
}

.terminal2CollapseToEnd {
}

.terminal4CollapseToEnd {
}

.terminal2CollapseToStart {
	backface-visibility: hidden;
	transform-origin: 0 50%;
	transition: transform transitionTime;
	transform: rotateY(-90deg);
	background: linear-gradient(right, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.2) 100%);
}

.terminal4CollapseToStart {
	perspective: 900px;
	backface-visibility: hidden;
	transform-origin:  -100% 50%;
	transition: transform transitionTime;
	transform: rotateY(-90deg);
}

.terminal4CollapseToStartFrame {
	backface-visibility: hidden;
	transform-origin:  0 0;
	transition: transform transitionTime;
	transform: rotateY(80deg);	
	background: linear-gradient(right, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.2) 100%);
}

.terminal5Expand {
}

.terminal6Expand {
}