@import "baseLayoutManagerCss";

@eval transitionTime com.nanukreader.client.bookviewer.layout.AccordionLayoutManager.getTransitionTime()+"ms";
.terminal0Set {
	
}

.terminal0Expand {
	
}

.terminal1Set {
	
}

.terminal1SetFrame {
	
}

.terminal1Expand {
	
}

.terminal1ExpandFrame {
	
}

.terminal2TailCollapse {
	
}

.terminal4TailCollapse {
	
}

.terminal2HeadCollapse {
	backface-visibility: hidden;
	transform-origin: 0 50%;
	transition: transform linear transitionTime;
	transform: rotateY(-90deg);
}

.terminal4HeadCollapse {
	perspective: 900px;
	backface-visibility: hidden;
	transform-origin: -100% 50%;
	transition: transform linear transitionTime;
	transform: rotateY(-90deg);
}

.terminal4HeadCollapseFrame {
	backface-visibility: hidden;
	transform-origin: 0 0;
	transition: transform linear transitionTime;
	transform: rotateY(80deg);
}

.terminal5Set {
	backface-visibility: hidden;
	transform-origin: 200% 0 0px;
	transform: rotateY(90deg);
}

.terminal5SetFrame {
	backface-visibility: hidden;
	transform-origin: 100% 0 0px;
	transform: rotateY(-90deg);
}

.terminal5Expand {
	perspective: 900px;
	backface-visibility: hidden;
	transform-origin: 200% 0;
	transition: transform linear transitionTime;
	transform: rotateY(0deg);
}

.terminal5ExpandFrame {
	backface-visibility: hidden;
	transform-origin: 100% 0;
	transition: transform linear transitionTime;
	transform: rotateY(0deg);
}

.terminal6Set {
	backface-visibility: hidden;
	transform-origin: 100% 0 0px;
	transform: rotateY(90deg);
}

.terminal6Expand {
	backface-visibility: hidden;
	transform-origin: 100% 0;
	transition: transform linear transitionTime;
	transform: rotateY(0deg);
}