@import com.nanukreader.client.CssResources.baseLayoutManagerCss();

@eval transitionTime com.nanukreader.client.bookviewer.PanoramaLayoutManager.getTransitionTime()+"ms";
.contentViewport {
	overflow: hidden;
}

.terminal2Set {
	opacity: 0;
}

.terminal2Shift {
	transition: opacity transitionTime;
	opacity: 1;
}

.terminal3Set {
}

.terminal3HeadShift {
}

.terminal3TailShift {
}

.terminal4Set {
	opacity: 0;
}

.terminal4Shift {
	transition: opacity transitionTime;
	opacity: 1;
}