@eval transitionTime com.nanukreader.client.bookviewer.FlipLayoutManager.getTransitionTime()+"ms";

.contentViewport {
	perspective: 2000px;
}

.terminal2Flip {
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transform-origin: 100% 100%;
	transition: transform transitionTime;
	transform: rotateY(180deg);
}

.terminal1Set {
	transform: rotateY(-180deg);
}

.terminal1Flip {
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transform-origin:  0 100%;
	transition: transform transitionTime;
	transform: rotateY(0deg);
}

.terminal4Flip {
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transform-origin: 0 50%;
	transition: transform transitionTime;
	transform: rotateY(-180deg);
}

.terminal5Set {
	transform: rotateY(180deg);
}

.terminal5Flip {
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transform-origin: 100% 50%;
	transition: transform transitionTime;
	transform: rotateY(0deg);
}