@import
com.nanukreader.client.CssResources.baseLayoutManagerCss();
@eval transitionTime com.nanukreader.client.bookviewer.layout.FlipLayoutManager.getTransitionTime()+"ms";
.contentViewport {
	overflow: visible;
}

.terminal2Flip {
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transform-origin: 100% 100%;
	transition: transform transitionTime;
	transform: rotateY(180deg);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.terminal1Set {
	transform: rotateY(-180deg);
}

.terminal1Flip {
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transform-origin: 0 100%;
	transition: transform transitionTime;
	transform: rotateY(0deg);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.terminal4Flip {
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transform-origin: 0 50%;
	transition: transform transitionTime;
	transform: rotateY(-180deg);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.terminal5Set {
	transform: rotateY(180deg);
}

.terminal5Flip {
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transform-origin: 100% 50%;
	transition: transform transitionTime;
	transform: rotateY(0deg);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}