@import com.nanukreader.client.CssResources.baseLayoutManagerCss();

@eval transitionTime com.nanukreader.client.bookviewer.PanoramaLayoutManager.getTransitionTime()+"ms";
.contentViewport {
	perspective: 2000px;
}

.terminal2 {
	box-shadow: 7px 9px 48px -12px rgba(0,0,0,0.6);
}

.terminal3 {
	box-shadow: 7px 9px 48px -12px rgba(0,0,0,0.6);
}

.terminal4 {
	box-shadow: 7px 9px 48px -12px rgba(0,0,0,0.6);
}

.terminal2Set {
	transform: translateX(-100%) translateZ(300px);
}

.terminal2Shift {
	transition: transform transitionTime;
	transform: translateX(0) translateZ(0);
}

.terminal3Set {
	transform: translateX(0) translateZ(0);
}

.terminal3HeadShift {
	transition: transform transitionTime;
	transform: translateX(-100%) translateZ(300px);
}

.terminal3TailShift {
}

.terminal4Set {
}

.terminal4Shift {
	
}