@import
com.nanukreader.client.CssResources.baseLayoutManagerCss();
@eval transitionTime com.nanukreader.client.bookviewer.layout.PanoramaLayoutManager.getTransitionTime()+"ms";
.terminal2 {
	box-shadow: 0px 0px 48px -12px rgba(0, 0, 0, 0.6);
}

.terminal3 {
	box-shadow: 0px 0px 48px -12px rgba(0, 0, 0, 0.6);
}

.terminal4 {
	box-shadow: 0px 0px 48px -12px rgba(0, 0, 0, 0.6);
}

.terminal2Set {
	transform-origin: 100% 0;
	transform: translateX(-100%) rotateY(45deg);
}

.terminal2Shift {
	transition: transform transitionTime;
	transform: translateX(0) rotateY(0deg);
}

.terminal3Set {
	
}

.terminal3HeadShift {
	transition: transform transitionTime;
	transform-origin: 100% 0;
	transform: translateX(-100%) rotateY(45deg);
}

.terminal3TailShift {
	transition: transform transitionTime;
	transform-origin: 0 0;
	transform: translateX(100%) rotateY(-45deg);
}

.terminal4Set {
	transform-origin: 0 0;
	transform: translateX(100%) rotateY(-45deg);
}

.terminal4Shift {
	transition: transform transitionTime;
	transform: translateX(0) rotateY(0deg);
}