@import
com.nanukreader.client.CssResources.baseLayoutManagerCss();
@eval transitionTime com.nanukreader.client.bookviewer.layout.ShiftLayoutManager.getTransitionTime()+"ms";
.terminal2Set {
	transform: translateX(-100%);
}

.terminal2Shift {
	transition: transform transitionTime;
	transform: translateX(0);
}

.terminal3Set {
	
}

.terminal3HeadShift {
	transition: transform transitionTime;
	transform: translateX(-100%);
}

.terminal3TailShift {
	transition: transform transitionTime;
	transform: translateX(100%);
}

.terminal4Set {
	transform: translateX(100%);
}

.terminal4Shift {
	transition: transform transitionTime;
	transform: translateX(0);
}