@import
baseLayoutManagerCss;
@eval transitionTime com.nanukreader.client.bookviewer.layout.SlideLayoutManager.getTransitionTime()+"ms";
.terminal2 {
	box-shadow: 7px 9px 48px -12px rgba(0, 0, 0, 0.6);
}

.terminal3 {
	box-shadow: 7px 9px 48px -12px rgba(0, 0, 0, 0.6);
}

.terminal4 {
	box-shadow: 7px 9px 48px -12px rgba(0, 0, 0, 0.6);
}

.terminal2Set {
	transform: translateX(-100%);
}

.terminal2Shift {
	transition: transform transitionTime;
	transform: translateX(0);
}

.terminal3Set {
	transform: translateX(0);
}

.terminal3HeadShift {
	transition: transform transitionTime;
	transform: translateX(-100%);
}

.terminal3TailShift {
	
}

.terminal4Set {
	transform: translateX(0);
}

.terminal4Shift {
	
}